.Accordion {
  width: 50vh;
  font-family: "Varela Round";
  color: grey;
  padding-bottom: 5vh;
}

#panel1a-header {
  background-color: #efba2b;
  font-family: "Varela Round";
}

#panel2a-header {
  background-color: #efba2b;
}

.css-15v22id-MuiAccordionDetails-root {
  background-color: #efba2b;
}

.css-ahj2mt-MuiTypography-root {
  font-family: "Varela Round";
  color: grey;
}

/* ////   Mobile   //// */
@media only screen and (max-width: 600px) {
  .Accordion {
    width: 32vh;
    padding-bottom: 2vh;
    margin:auto;
    display: flex;
    flex-direction: column;
  }
}