.Contact {
  padding-top: 12%;
  justify-content: center;
  display: flex;
  background-color: rgb(150, 209, 209);
  padding-bottom: 12%;  
  color: #737373;
  font-family: "Varela Round";
}

.contact-body {
  display: flex;
  flex-direction: column;
}

.contact-form{
  padding-top: 2%;
}

input {
  width: 150vh;
}
textarea {
  height: 10em;
  width: 150vh;
}

div[role="alert"] {
  color: red;
  margin-top: 1em;
}

.message-chars-left {
  width: 150vh;
  margin: auto;
  text-align: right;
}

/* ////   Mobile   //// */

@media only screen and (max-width: 600px) {

  .Contact {
    padding-top: 40%;
    padding-bottom: 20%;
  }

  input {
    width: 50vh;
  }
  textarea {
    width: 50vh;
  }
  .message-chars-left {
    width: 50vh;
  }
}
