.Contact {
  margin-top: 15%;
  justify-content: center;
  display: flex;
}

input {
  width: 150vh;
}
textarea {
  height: 10em;
  width: 150vh;
}

div[role="alert"] {
  color: red;
  margin-top: 1em;
}

.message-chars-left {
  width: 150vh;
  margin: auto;
  text-align: right;
}

/* ////   Mobile   //// */

@media only screen and (max-width: 600px) {

  .Contact {
    margin-top: 20%;
  }

  input {
    width: 50vh;
  }
  textarea {
    width: 50vh;
  }
  .message-chars-left {
    width: 50vh;
  }
}
