.Home {
  background-color: rgb(150, 209, 209);
  padding-top: 20vh;
  padding-left: 20vh;
  padding-right: 20vh;
  color: #737373;
  font-family: "Varela Round";
  background-size: 100%;
}

.top-section {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.about-me {
  width: 60%;
  padding-left: 10vh;
  margin: auto;
}

.logo-desktop {
  padding-bottom: 5vh;
  align-items: flex-start;
  display: flex;
  height: 50vh;
  display: visible;
  position: relative;
  left: 0em;
  margin: 0;
}

.logo-mobile {
  display: hidden;
  position: absolute;
  left: -999em;
}

.watermark {
  text-align: right;
  padding-right: 2vh;
  font-size: 10px;
  padding-bottom: 8vh;
  padding-top: 8vh;
}

/* ////   Tablet   //// */

@media only screen and (min-width: 700px) and (max-width: 1199px) {
  .Home {
    padding-left: 5vh;
    padding-right: 5vh;
  }

  .logo-desktop {
    height: 20vh;
  }
}

/* ////   Mobile   //// */

@media only screen and (max-width: 600px) {
  .Home {
    padding-top: 7vh;
    padding-left: 3vh;
    padding-right: 3vh;
  }
  h4 {
    text-align: left;
  }

  .about-me {
    padding-left: 0;
  }

  .logo-desktop {
    display: hidden;
    position: absolute;
    left: -999em;
  }

  .logo-mobile {
    margin: auto;
    display: flex;
    height: 30vh;
    display: visible;
    position: relative;
    left: 0em;
  }

  .small-text {
    text-align: center;
  }
}
