.Home {
  background-color: rgb(150, 209, 209);
  padding-top: 20vh;
  padding-left: 20vh;
  padding-right: 20vh;
  color: #737373;
  font-family: "Varela Round";
  background-size: 100%;
}

.logo-desktop {
  padding-bottom: 5vh;
  align-items: flex-start;
  display: flex;
  height: 40vh;
  display: visible;
  position: relative;
  left: 0em;
  margin:0;
}

.logo-mobile {
  display: hidden;
  position: absolute;
  left: -999em;
}

.accordion-sandwich {
  display: flex;
  flex-direction: row;
}

.center {
  width: 33%;
  display: flex;
  justify-content: center;
}

.left-side {
  width: 32%;
}

.right-side {
  width: 32%;
}

.watermark {
  text-align: right;
  padding-right: 2vh;
  font-size: 10px;
  padding-bottom: 8vh;
  padding-top: 8vh
}


/* ////   Tablet   //// */

@media only screen and (min-width: 700px) and (max-width: 1199px) {

  .Home {
    padding-left: 5vh;
    padding-right: 5vh;
  }

  .logo-desktop {
    height: 20vh;
  }

}

/* ////   Mobile   //// */

@media only screen and (max-width: 600px) {
  .Home {
    padding-top: 7vh;
    padding-left: 3vh;
    padding-right: 3vh;
  }
  h4 {
    text-align: center;
    }

  .logo-desktop {
    display: hidden;
    position: absolute;
    left: -999em;
  }

  .logo-mobile {
    margin:auto;
    display: flex;
    height: 30vh; 
    display: visible;
    position: relative;
    left: 0em;
  }

  .accordion-sandwich {
    display: flex;
    flex-direction: column;
  }

  .center {
    width: 100%;
  }

  .left-side {
    width: 100%;
  }

  .right-side {
    width: 100%;
  }

  .small-text {
    text-align: center;
  }
}
