.header-wrapper {
  background-color: goldenrod;
}

.drawerContainer {
  padding: 50px 30px;
  background-color: goldenrod;
  height: 100%;
}

li {
  list-style-type: none; 
  padding: 0; 
  margin: 0; 
  color: #737373;
  font-family: "Varela Round";
  font-size: 2rem;
  line-height: 2;
}

.MuiToolbar-regular {
  background: goldenrod
}
