.Nav {
    background-color: #efba2b;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20vh;
    padding-right: 20vh;
}

.title {
    width: 30vh;
    padding-top: 2vh;
}

.contact {
    width: 20vh;
    padding-top: 4vh;
}


/* ////   Tablet   //// */

@media only screen and (min-width: 700px) and (max-width: 1199px) {
    .Nav {
    padding-left: 5vh;
    padding-right: 5vh;
    }

}
